# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# IDEs & editors
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

data/
testdata/
.meta.json
