# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# IDEs & editors
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

data/
testdata/
.meta.json

# 🔒 Ignore archived dev builds, but keep the folder
archive/dev_builds/*
!archive/dev_builds/.keep
./rehash/
.output/
.pytest_cache/